body{
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    
}

nav{
    margin-top: -30px;
    max-width: 900px;
    height: 35px;
    background-color:#f3d3dd;
}
li{
    display: inline-block;
    padding: 8px 11px 7px 11px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(202, 152, 168);
    background-color:rgb(243, 211, 221);
}
.welcome{
    max-width: 900px;
    text-align: center;
    margin-top: 15px;
}
h1{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;  
}
.banner{
    max-width: 900px;
    height:150px;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.leftNav{
    margin-top: 30px;
    padding-top: 30px;
    max-width: 250px;
    height:850px;
    background-color: #d1e5e7;
}
.imageBox{
    max-width: 80%;
    height: 150px;
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #899899;
    margin-bottom: 30px;

}
.wild{
    background-image: url("images/wild.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.lavender{
    background-image: url("images/lavender.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rose{
    background-image: url("images/rose.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rightTopSection{
    max-width: 430px;
    height: 850px;
    background-color: #F8BDE7;
    
    
}
