* {
    box-sizing: border-box;
  }

body{
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/*  Banner */

.banner{
    width: 100%;
    height:150px;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*  Navigation */

nav{
    position: relative;
    margin-top: -30px;
    width: 100%;
    height: 35px;
    background-color:#E2DFE0;
    position: relative:
}
li{
    display: inline-block;
    padding: 8px 11px 7px 11px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(192, 192, 192);
    background-color:rgb(248, 233, 238);
}
.flowersPlants{
    background-color:rgb(243, 200, 215);
}
.bredcrumbs{
    font-size: 11px;
    margin: 16px;
}

/*  Welcome text */

.welcome{
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pageTitle{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase; 
    font-size:  32px;
}

/*  Left Navigation */

.leftNav{
    float: left;
    margin-top: 30px;
    width: 30%;
    height: 100%;
    background-color:white;
    border: 1px solid rgb(192, 192, 192);
    text-align: center;
}
.leftNav img{
    width: 80%;
    height: 100%;
    margin: 10%;
    border-radius: 5px;
}

.imageBox{
    max-width: 80%;
    height: 150px;
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #899899;
    margin-bottom: 30px;
    border-radius: 5px;
}

/*  Right Main Content */

.rightBlock{
    float: right;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70%;
    height: 100%;
    background-color: rgb(234, 240, 240);
}
.discounts{
    background-color: white;
    text-align: center;
}
.liDiscount{
    border: none;
    background-color: white;
}
.featured{
    position: relative;
    width: 100%;
    height: 100%;
    
}
.featuredRight{
    text-align: center; 
    float: right;
    width: 50%;
    height: 100%;
    border-left: 1px solid rgb(192, 192, 192); 
}
.featuredLeft{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center; 
     
}
.featuredRight p, .featuredLeft p{
    font-size: 24px;
    margin-left: 12%;
    text-align: left;
}
.featuredLeft img{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}
.featuredRight img{
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}
.sale{
    width: 80%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    display: inline-block; /* This sollution I found I don't understand.*/

}
#salePic{
    width: 42%;
    height: auto;
}








