* {
    box-sizing: border-box;
  }

body{
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/*  Banner */

.banner{
    width: 100%;
    height:150px;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*  Navigation */

nav{
    position: relative;
    margin-top: -30px;
    width: 100%;
    height: 35px;
    background-color:#f3d3dd;
    position: relative:
}
li{
    display: inline-block;
    padding: 8px 11px 7px 11px;
    border-style: solid;
    border-width: 1px;
    border-color:  rgb(202, 152, 168);
    background-color:rgb(243, 211, 221);
}

/*  Welcome text */

.welcome{
    max-width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    font-family: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;  
}

/*  Left Navigation */

.leftNav{
    float: left;
    margin-top: 30px;
    padding-top: 30px;
    width: 30%;
    height: 100%;
    background-color: #d1e5e7;
}

.imageBox{
    max-width: 80%;
    height: 150px;
    margin-left: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #899899;
    margin-bottom: 30px;
}
.wild{
    background-image: url("images/wild.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.lavender{
    background-image: url("images/lavender.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.rose{
    background-image: url("images/rose.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*  Right Main Content */

.rightBlock{
    float: right;
    margin-top: 30px;
    padding-top: 30px;
    width: 70%;
    height: 100%;
    background-color: #e7d1e6;
}
